<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />

	<property name="LOG_PATH" value="../log" />
	<property name="LOG_FILE_NAME" value="study-spring-boot" />
	<property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5p --- %class{39}.%method : %m%n%wex"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</layout>
	</appender>

	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>100</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="kr.co.study" level="DEBUG" />	
	<logger name="org.apache.http.wire" level="OFF" />
	<logger name="org.apache.http" level="OFF" />
	<logger name="com.gargoylesoftware.htmlunit" level="OFF" />
	<logger name="org.apache.commons.httpclient" level="OFF" />
	<logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="OFF" />
  
	<logger name="com.zaxxer.hikari" level="OFF"/>
	<logger name="com.zaxxer.hikari.HikariConfig" level="OFF"/>
	<logger name="com.zaxxer.hikari.pool.HikariPool" level="OFF"/>
	<logger name="com.zaxxer.hikari.HikariDataSource" level="OFF"/>
	
	<logger name="jdbc.sqlonly" level="DEBUG"/>
	<logger name="jdbc.sqltiming" level="OFF"/>
	<logger name="jdbc.audit" level="OFF"/>
	<logger name="jdbc.resultset" level="OFF"/>
	<logger name="jdbc.resultsettable" level="OFF"/>
	<logger name="jdbc.connection" level="OFF"/>

	<logger name="org.springframework" level="ERROR" />
	<logger name="org.springframework.data" level="OFF" />

	<root level="INFO">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>